<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coolizm Family | 404</title>
    <meta charset="utf-8">
   <!-- <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/b4620429/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://www.youtube.com/s/desktop/b4620429/img/favicon_32.png" sizes="32x32">
    <link rel="icon" href="https://www.youtube.com/s/desktop/b4620429/img/favicon_48.png" sizes="48x48">
    <link rel="icon" href="https://www.youtube.com/s/desktop/b4620429/img/favicon_96.png" sizes="96x96">
    <link rel="icon" href="https://www.youtube.com/s/desktop/b4620429/img/favicon_144.png" sizes="144x144">-->
    <meta name="application-name" content="Coolizm Family">
    <meta name="theme-color" content="#2f3136">
    <meta name="author" content="Yusuf Yeşilçiçek">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Coolizm Family Sitesinin içerisinde sunucumuz hakkındaki bilgiler ,Sunucumuzun özellikleri ve dahası var"> 
    <meta property="og:title" content="Coolizm Family resmi site"/>
    <meta property="og:url" content="https://new-coolizm.glitch.me/"/>
    <meta property="og:site_name" content="Coolizm Family"/>
    <meta property="og:footer" content="Sitemizi ziyaret etmek istersen çekinme"/>
    <meta property="og:description" content="Coolizm Family Sitesinin içerisinde sunucumuz hakkındaki bilgiler ,Sunucumuzun özellikleri ve dahası var"/>
    <meta property="og:image" content="https://cdn.discordapp.com/banners/675150325619097653/fa87c9d13c728a142612c4daa131f2f9.jpg?size=512"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="magnific-popup.css">
    <link rel="stylesheet" href="jquery-ui.css">
    <link rel="stylesheet" href="owl.carousel.min.css">
    <link rel="stylesheet" href="owl.theme.default.min.css">

    <link rel="stylesheet" href="bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="aos.css">

    <link rel="stylesheet" href="style.css">
    
  </head>
  <body style="text-align: center;background-color: black;">
      <h2>Sayfa Bulunamadı</h2>
    <h3>Hata Kodu : 404</h3>  
  </body>
</html>